.cards {
  padding-top: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 413px);
  justify-content: center;
  gap: 40px 20px;
  max-width: 800px;
}

@media screen and (max-width: 1320px) {
  .cards {
    padding-bottom: 20px;
  }
  .cards__list {
    grid-template-columns: repeat(2, 413px);
    gap: 20px;
    max-width: 100%;
  }
}

@media screen and (max-width: 880px) {
  .cards__list {
    grid-template-columns: repeat(1, 288px);
  }
}
